{% extends "base.html.twig" %}

{% block title %}Le Collectif - Accueil{% endblock %}

{% block body %}

<div class="container mt-4">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur LeCollectif !</h1>
        <p class="lead">Application destinée aux formateurs pour la recherche de formations.</p>
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page d'inscription.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>
</div>
{% endblock %}